body {
  background-color: rgb(31, 26, 31);
}
header {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

img {
  
}

nav {
  background: black;
  width: 110%;
}

ul {
  list-style-type: none;
  margin: auto;
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
li {
  font-family: 'Open Sans Condensed', sans-serif;
  color: white;
  font-size: 20pt;
  font-weight: lighter;
}
